@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

.bold-text {
  font-weight: 700;
}

.inner span {
  margin-bottom: 0px;
}

span, button {
  font-family: "Noto Sans KR", sans-serif;
}

h3 {
  font-size: 20px;
}

.thumbnail {
  display: block;
  width: 116px;
  border-radius: 12px 12px 12px 0;
  overflow: hidden;
  border: 1px solid #EAEAEA;
  flex-shrink: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info .title {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.info .title:hover {
  text-decoration: underline;
}
.info .author {
  font-size: 13px;
  color: #595959;
  margin-top: 5px;
}
.info .price {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
.info .price .sale {
  color: #4dac27;
  margin-right: 5px;
}
.info .price .won {
  font-weight: 400;
}

.main-info a,
.main-info div,
.main-info span,
.main-info button {
  line-height: 20px;
}
.main-info .main-info__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-info .main-info__inner .this-category {
  width: 100%;
  display: flex;
  color: #595959;
  font-size: 13px;
  line-height: 20px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}
.main-info .main-info__inner .this-category .this-category__sub {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}
.main-info .main-info__inner .this-category .this-category__sub > span {
  margin-right: 4px;
}
.main-info .main-info__inner .this-category .this-category__sub button {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  margin-right: 20px;
  transition: border 300ms;
  cursor: pointer;
}
.main-info .main-info__inner .this-category .this-category__sub button span {
  color: #595959;
  font-size: 12px;
  padding-bottom: 3px;
  margin-bottom: 4px;
  line-height: 15px;
}
.main-info .main-info__inner .this-category .this-category__sub:not(:last-child)::after {
  content: "/";
  position: absolute;
  right: 8px;
  bottom: 2px;
  font-size: 10px;
  font-weight: 700;
  color: #ccc;
}
.main-info .main-info__inner .this-category .this-category__sub:hover button {
  border: 1px solid #000000;
}
.main-info .main-info__inner .this-category .this-category__sub:hover button span {
  color: #000000;
  font-size: 12px;
  margin-top: -11px;
  transform: rotate(180deg);
}
.main-info .main-info__inner .book-top-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-info .main-info__inner .book-top-info .book-top {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}
.main-info .main-info__inner .book-top-info .book-top h3 {
  font-size: 28px;
  text-align: center;
  line-height: 44px;
}
.main-info .main-info__inner .book-top-info .book-top .share {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.main-info .main-info__inner .book-top-info .book-top .share .share-icon {
  display: block;
  margin-right: 2px;
  font-size: 20px;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns {
  display: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(1) {
  background: url("../images/sns_1.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(2) {
  background: url("../images/sns_2.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(3) {
  background: url("../images/sns_3.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(4) {
  background: url("../images/sns_4.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(5) {
  background: url("../images/sns_5.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(6) {
  background: url("../images/sns_6.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(7) {
  line-height: 28px;
}
.main-info .main-info__inner .book-top-info .book-top .share.active {
  width: auto;
  padding: 0 10px;
  gap: 10px;
}
.main-info .main-info__inner .book-top-info .book-top .share.active .share-icon {
  display: none;
}
.main-info .main-info__inner .book-top-info .book-top .share.active .share__sns {
  display: block;
}
.main-info .main-info__inner .book-top-info .book-type {
  width: 380px;
  height: 50px;
  position: relative;
  margin-bottom: 30px;
}
.main-info .main-info__inner .book-top-info .book-type .book-type__none {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
  padding-top: 2px;
}
.main-info .main-info__inner .book-top-info .book-type .book-type__none > div {
  width: 50%;
  height: 100%;
  color: #595959;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.main-info .main-info__inner .book-top-info .book-type .book-type__none > div div:nth-child(2) {
  font-size: 13px;
}
.main-info .main-info__inner .book-top-info .book-type .book-type__select {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  font-size: 13px;
  color: #5a5ea2;
  font-weight: 700;
  cursor: pointer;
}
.main-info .main-info__inner .book-top-info .book-type .book-type__select div:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
}
.main-info .main-info__inner .this-info .this-authors {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.main-info .main-info__inner .this-info .this-authors a {
  font-weight: 500;
  font-size: 15px;
}
.main-info .main-info__inner .this-info .this-authors div {
  width: 1.5px;
  height: 13px;
  background-color: #000000;
}
.main-info .main-info__inner .this-info .this-publisher {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.main-info .main-info__inner .this-info .this-publisher button {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0 4px 2px;
  padding-top: 1px;
  cursor: pointer;
}
.main-info .main-info__inner .this-info .this-publisher button span {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
.main-info .main-info__inner .this-info .this-publisher button .material-symbols-outlined {
  margin-top: 1px;
  font-weight: 500;
  color: #595959;
}
.main-info .main-info__inner .this-info .this-publisher .publisher {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.main-info .main-info__inner .this-info .this-publisher .publisher-shop {
  background-color: #ffffff;
  border: 1px solid #5a5ea2;
  border-radius: 4px;
}
.main-info .main-info__inner .this-info .this-publisher .publisher-shop span {
  color: #5a5ea2;
  font-weight: 500;
}
.main-info .main-info__inner .this-info .published-date {
  line-height: 20px;
  color: #767676;
  font-size: 14px;
  margin-bottom: 10px;
}
.main-info .main-info__inner .this-info .published-date:last-of-type {
  margin-bottom: 25px;
}
.main-info .main-info__inner .this-info .this-rank {
  display: flex;
  gap: 10px;
  height: 20px;
  margin-bottom: 30px;
}
.main-info .main-info__inner .this-info .this-rank:hover {
  text-decoration: underline;
}
.main-info .main-info__inner .this-info .this-rank img {
  display: inline-block;
  height: 20px;
}
.main-info .main-info__inner .this-info .this-rank .bold-text {
  font-weight: 700;
  font-size: 14px;
}
.main-info .main-info__inner .this-info .this-rank .rank {
  font-size: 13px;
  display: flex;
  align-items: center;
  position: relative;
}
.main-info .main-info__inner .this-info .this-rank .rank span {
  font-size: 13px;
}
.main-info .main-info__inner .this-info .this-rank .rank:not(:last-child)::after {
  content: "ꞏ";
  font-size: 20px;
  position: absolute;
  right: -8px;
}
.main-info .main-info__inner .this-info .this-review {
  width: 330px;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  display: flex;
  padding: 20px 0;
  margin-bottom: 25px;
}
.main-info .main-info__inner .this-info .this-review .review {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.main-info .main-info__inner .this-info .this-review .review .bold-text {
  font-size: 20px;
  color: #3c9a17;
  margin-bottom: 5px;
}
.main-info .main-info__inner .this-info .this-review .review p {
  font-size: 12px;
  color: #595959;
}
.main-info .main-info__inner .this-info .this-review .review img {
  width: 18px;
  height: 18px;
}
.main-info .main-info__inner .this-info .this-review .review::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 30px;
  background-color: #EAEAEA;
}
.main-info .main-info__inner .this-info .this-review .comment {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-info .main-info__inner .this-info .this-review .comment img {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.main-info .main-info__inner .this-info .this-review .comment .bold-text {
  font-size: 18px;
  color: #5a5ea2;
  margin-bottom: 4px;
}
.main-info .main-info__inner .this-info .this-review .comment p {
  font-size: 12px;
  color: #595959;
}
.main-info .main-info__inner .this-info .this-ebook-info {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  width: 330px;
  padding: 16px 0;
}
.main-info .main-info__inner .this-info .this-ebook-info p {
  font-size: 14px;
}
.main-info .main-info__inner .this-info .this-ebook-info li {
  font-size: 13px;
  color: #595959;
  position: relative;
  text-indent: 8px;
  margin-top: 6px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.main-info .main-info__inner .this-info .this-ebook-info li::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #ccc;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms;
  cursor: pointer;
  position: relative;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info button span {
  font-weight: 500;
  color: #767676;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more {
  border: 1px solid #000000;
  border-radius: 10px;
  position: absolute;
  background-color: #ffffff;
  top: 24px;
  padding: 20px;
  min-width: 330px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more .close-icon {
  position: absolute;
  font-weight: 500;
  font-size: 28px;
  color: #000000;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more .title {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more .sub-title {
  font-size: 13px;
  color: #000000;
  margin-bottom: 16px;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more ul {
  background-color: #F7F7F7;
  border-radius: 10px;
  padding: 20px;
  padding-left: 30px;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more ul li {
  text-indent: 0px;
  position: relative;
  font-size: 13px;
  line-height: 19px;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more ul li::before {
  background-color: #ccc;
  left: -10px;
  top: 8px;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info.active button {
  background-color: #767676;
  border: 1px solid #767676;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info.active button span {
  color: #ffffff;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info.active .tts-info-more {
  visibility: visible;
  opacity: 1;
}
.main-info .main-info__inner .this-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-info .main-info__inner .this-thumbnail .this-book {
  position: relative;
  width: 380px;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.12);
  cursor: auto;
}
.main-info .main-info__inner .this-thumbnail .this-book img {
  display: block;
  width: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.main-info .main-info__inner .this-thumbnail .this-book::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("../images/eBook_mark.png") center/cover;
  top: -10px;
  right: -10px;
}
.main-info .main-info__inner .this-thumbnail .this-book .preview__big {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 40px;
  padding: 6px 12px 8px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
.main-info .main-info__inner .this-thumbnail .this-book .preview__big span {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
}
.main-info .main-info__inner .this-thumbnail .this-book .preview__big span.material-symbols-outlined {
  font-weight: 500;
  font-size: 18px;
}
.main-info .main-info__inner .this-thumbnail .this-book:hover .preview__big {
  visibility: visible;
  opacity: 1;
}
.main-info .main-info__inner .this-thumbnail .preview {
  position: relative;
  z-index: 2;
  padding: 2px 14px 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: -0.5px;
  font-weight: 700;
  border: 1px solid #ccc;
  background-color: #ffffff;
  cursor: pointer;
  align-self: flex-end;
}
.main-info .main-info__inner .this-thumbnail .preview .material-symbols-outlined {
  font-weight: 400;
  color: #595959;
  font-size: 18px;
}
.main-info .main-info__inner .this-thumbnail .preview .button-text {
  font-weight: 500;
}
.main-info .main-info__inner .this-thumbnail .preview:hover {
  background-color: #F7F7F7;
}
.main-info .main-info__inner .this-price {
  width: 330px;
}
.main-info .main-info__inner .this-price .this-price__event {
  margin-bottom: 25px;
}
.main-info .main-info__inner .this-price .this-price__event div {
  border: 1px solid #5a5ea2;
  color: #5a5ea2;
  display: inline-block;
  font-size: 12px;
  padding: 1px 5px;
  border-radius: 4px;
}
.main-info .main-info__inner .this-price .this-price__info {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 30px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(1) {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) {
  padding: 20px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .coupon-price {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .origin-price {
  text-decoration: line-through;
  font-size: 14px;
  color: #595959;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .bold-text {
  font-weight: 700;
  font-size: 13px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) span:nth-child(n+2) {
  font-size: 24px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .sale {
  font-size: 13px;
  display: flex;
  gap: 20px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .sale p:nth-child(1) {
  position: relative;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .sale p:nth-child(1)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
  right: -10px;
  top: 5px;
}
.main-info .main-info__inner .this-price .this-price__info .coupon {
  height: 30px;
  border: none;
  background-color: #5055b1;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  border-radius: 4px;
  letter-spacing: -0.5px;
  margin-top: 40px;
  cursor: pointer;
}
.main-info .main-info__inner .this-price .this-price__info .coupon span {
  margin-bottom: 2px;
}
.main-info .main-info__inner .this-price .this-price__info .coupon .material-symbols-outlined {
  font-weight: 400;
}
.main-info .main-info__inner .ebook-notice {
  background-color: rgba(80, 85, 177, 0.06);
  padding: 18px;
  padding-left: 24px;
  border-radius: 10px;
}
.main-info .main-info__inner .ebook-notice div {
  color: #5a5ea2;
  font-size: 13px;
  line-height: 18px;
  position: relative;
}
.main-info .main-info__inner .ebook-notice div::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgba(80, 85, 177, 0.6);
  left: -10px;
  top: 8px;
}
.main-info .main-info__inner .ebook-notice div .bold-text {
  font-weight: 700;
  line-height: 20px;
  font-size: 13px;
}
.main-info .main-info__inner .event-box {
  width: 100%;
}
.main-info .main-info__inner .event-box .event-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  height: 60px;
}
.main-info .main-info__inner .event-box .event-title p {
  font-size: 14px;
  margin-top: 4px;
}
.main-info .main-info__inner .event-box ul {
  background-color: #F7F7F7;
  border-radius: 10px;
  font-size: 12px;
  padding: 20px;
  width: 330px;
}
.main-info .main-info__inner .event-box ul li a {
  color: #595959;
  line-height: 25px;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-info .main-info__inner .event-box ul li a:hover {
  color: #5a5ea2;
  text-decoration: underline;
}
.main-info .main-info__inner .payment-box .payment-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-size: 15px;
}
.main-info .main-info__inner .payment-box .payment-title p {
  font-size: 14px;
  margin-top: 4px;
}
.main-info .main-info__inner .payment-box ul {
  background-color: #F7F7F7;
  border-radius: 10px;
  font-size: 12px;
  padding: 20px;
}
.main-info .main-info__inner .payment-box ul li {
  color: #595959;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-info .main-info__inner .payment-box ul li div {
  line-height: 25px;
}
.main-info .main-info__inner .more-info {
  display: none;
}
.main-info .main-info__inner .more-info.active {
  display: block;
}
.main-info .main-info__inner .more-title {
  border-bottom: 1px solid #EAEAEA;
}
.main-info .main-info__inner .more-title.active {
  border-bottom: 1px solid transparent;
}
.main-info .main-info__inner .more-icon {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}
.main-info .main-info__inner .more-icon span {
  font-size: 18px;
  color: #595959;
  font-weight: 400;
}
.main-info .main-info__inner .more-icon.active {
  background-color: #000000;
  border: 1px solid #000000;
}
.main-info .main-info__inner .more-icon.active span {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  transform: rotate(180deg);
  margin-top: -4px;
  margin-left: 1px;
}

.detail-nav {
  margin-top: 46px;
}
.detail-nav .full__inner {
  height: 70px;
  border-bottom: 1px solid #ccc;
}
.detail-nav .full__inner .inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  height: 100%;
}
.detail-nav .full__inner .inner div {
  color: #767676;
  font-size: 16px;
}

.preview-modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.preview-modal .thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preview-modal .close-icon {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  cursor: pointer;
}

.content .inner {
  display: flex;
  gap: 56px;
}
.content .inner .content-title {
  font-size: 20px;
  line-height: 20px;
}
.content .inner .content-box {
  margin-top: 70px;
}

.content__right {
  flex-grow: 1;
}
.content__right .content-title {
  margin-bottom: 20px;
  line-height: 20px;
}
.content__right .put__buy-with {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: #F7F7F7;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
.content__right .put__buy-with .thumbnail {
  display: block;
  width: 116px;
  border-radius: 12px 12px 12px 0;
  overflow: hidden;
  border: 1px solid #EAEAEA;
}
.content__right .put__buy-with .thumbnail img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.content__right .put__buy-with .info .title {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.content__right .put__buy-with .info .title:hover {
  text-decoration: underline;
}
.content__right .put__buy-with .info .author {
  font-size: 13px;
  color: #595959;
  margin-top: 5px;
}
.content__right .put__buy-with .info .price {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
.content__right .put__buy-with .info .price .sale {
  color: #4dac27;
  margin-right: 5px;
}
.content__right .put__buy-with .info .price .won {
  font-weight: 400;
}

.content__left {
  width: 330px;
}
.content__left .content-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  margin-bottom: 20px;
}
.content__left .content-title h3 {
  font-size: 20px;
}
.content__left .content-title .content-more {
  font-size: 13px;
  color: #595959;
  display: flex;
  align-items: center;
}
.content__left .content-title .content-more a:hover {
  text-decoration: underline;
}
.content__left .content-title .content-more span {
  font-size: 10px;
  margin-left: 2px;
}
.content__left .put__best,
.content__left .put__new {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content__left .put__best .best__book,
.content__left .put__best .new__book,
.content__left .put__new .best__book,
.content__left .put__new .new__book {
  display: flex;
  align-items: center;
  gap: 15px;
}
.content__left .put__best .best__book .num,
.content__left .put__best .new__book .num,
.content__left .put__new .best__book .num,
.content__left .put__new .new__book .num {
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  background: #767676;
  border-radius: 6px 0 6px 0;
  padding: 3px 2px 2px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.content__left .put__best .best__book .num__first,
.content__left .put__best .new__book .num__first,
.content__left .put__new .best__book .num__first,
.content__left .put__new .new__book .num__first {
  background-color: #4dac27;
}
.content__left .put__best .best__book .thumbnail,
.content__left .put__best .new__book .thumbnail,
.content__left .put__new .best__book .thumbnail,
.content__left .put__new .new__book .thumbnail {
  width: 98px;
}

.book-detail .content-title {
  display: flex;
  gap: 30px;
}
.book-detail .content-title .detail-tab {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  gap: 30px;
}
.book-detail .content-title .detail-tab li {
  line-height: 20px;
  position: relative;
  color: #767676;
  cursor: pointer;
}
.book-detail .content-title .detail-tab li:not(:last-child)::after {
  content: "|";
  position: absolute;
  top: -1px;
  right: -16px;
  color: #EAEAEA;
}
.book-detail .content-title .detail-tab li.active {
  color: #5a5ea2;
  font-weight: 700;
}