@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

.bold-text {
  font-weight: 700;
}

.inner span {
  margin-bottom: 0px;
}

span, button {
  font-family: "Noto Sans KR", sans-serif;
}

h3 {
  font-size: 20px;
}

.thumbnail {
  display: block;
  width: 116px;
  border-radius: 12px 12px 12px 0;
  overflow: hidden;
  border: 1px solid #EAEAEA;
  flex-shrink: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info .title {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.info .title:hover {
  text-decoration: underline;
}
.info .author {
  font-size: 13px;
  color: #595959;
  margin-top: 5px;
}
.info .price {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
.info .price .sale {
  color: #4dac27;
  margin-right: 5px;
}
.info .price .won {
  font-weight: 400;
}

.main-info a,
.main-info div,
.main-info span,
.main-info button {
  line-height: 20px;
}
.main-info .main-info__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-info .main-info__inner .this-category {
  width: 100%;
  display: flex;
  color: #595959;
  font-size: 13px;
  line-height: 20px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}
.main-info .main-info__inner .this-category .this-category__sub {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}
.main-info .main-info__inner .this-category .this-category__sub > span {
  margin-right: 4px;
}
.main-info .main-info__inner .this-category .this-category__sub button {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  margin-right: 20px;
  transition: border 300ms;
  cursor: pointer;
}
.main-info .main-info__inner .this-category .this-category__sub button span {
  color: #595959;
  font-size: 12px;
  padding-bottom: 3px;
  margin-bottom: 4px;
  line-height: 15px;
}
.main-info .main-info__inner .this-category .this-category__sub:not(:last-child)::after {
  content: "/";
  position: absolute;
  right: 8px;
  bottom: 2px;
  font-size: 10px;
  font-weight: 700;
  color: #ccc;
}
.main-info .main-info__inner .this-category .this-category__sub:hover button {
  border: 1px solid #000000;
}
.main-info .main-info__inner .this-category .this-category__sub:hover button span {
  color: #000000;
  font-size: 12px;
  margin-top: -11px;
  transform: rotate(180deg);
}
.main-info .main-info__inner .book-top-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-info .main-info__inner .book-top-info .book-top {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}
.main-info .main-info__inner .book-top-info .book-top h3 {
  font-size: 28px;
  text-align: center;
  line-height: 44px;
}
.main-info .main-info__inner .book-top-info .book-top .share {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.main-info .main-info__inner .book-top-info .book-top .share .share-icon {
  display: block;
  margin-right: 2px;
  font-size: 20px;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns {
  display: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(1) {
  background: url("../images/sns_1.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(2) {
  background: url("../images/sns_2.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(3) {
  background: url("../images/sns_3.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(4) {
  background: url("../images/sns_4.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(5) {
  background: url("../images/sns_5.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(6) {
  background: url("../images/sns_6.png") center/cover no-repeat;
}
.main-info .main-info__inner .book-top-info .book-top .share .share__sns:nth-of-type(7) {
  line-height: 28px;
}
.main-info .main-info__inner .book-top-info .book-top .share.active {
  width: auto;
  padding: 0 10px;
  gap: 10px;
}
.main-info .main-info__inner .book-top-info .book-top .share.active .share-icon {
  display: none;
}
.main-info .main-info__inner .book-top-info .book-top .share.active .share__sns {
  display: block;
}
.main-info .main-info__inner .book-top-info .book-type {
  width: 380px;
  height: 50px;
  position: relative;
  margin-bottom: 30px;
}
.main-info .main-info__inner .book-top-info .book-type .book-type__none {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
  padding-top: 2px;
}
.main-info .main-info__inner .book-top-info .book-type .book-type__none > div {
  width: 50%;
  height: 100%;
  color: #595959;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.main-info .main-info__inner .book-top-info .book-type .book-type__none > div div:nth-child(2) {
  font-size: 13px;
}
.main-info .main-info__inner .book-top-info .book-type .book-type__select {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  font-size: 13px;
  color: #5a5ea2;
  font-weight: 700;
  cursor: pointer;
}
.main-info .main-info__inner .book-top-info .book-type .book-type__select div:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
}
.main-info .main-info__inner .this-info .this-authors {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.main-info .main-info__inner .this-info .this-authors a {
  font-weight: 500;
  font-size: 15px;
}
.main-info .main-info__inner .this-info .this-authors div {
  width: 1.5px;
  height: 13px;
  background-color: #000000;
}
.main-info .main-info__inner .this-info .this-publisher {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.main-info .main-info__inner .this-info .this-publisher button {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0 4px 2px;
  padding-top: 1px;
  cursor: pointer;
}
.main-info .main-info__inner .this-info .this-publisher button span {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
.main-info .main-info__inner .this-info .this-publisher button .material-symbols-outlined {
  margin-top: 1px;
  font-weight: 500;
  color: #595959;
}
.main-info .main-info__inner .this-info .this-publisher .publisher {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.main-info .main-info__inner .this-info .this-publisher .publisher-shop {
  background-color: #ffffff;
  border: 1px solid #5a5ea2;
  border-radius: 4px;
}
.main-info .main-info__inner .this-info .this-publisher .publisher-shop span {
  color: #5a5ea2;
  font-weight: 500;
}
.main-info .main-info__inner .this-info .published-date {
  line-height: 20px;
  color: #767676;
  font-size: 14px;
  margin-bottom: 10px;
}
.main-info .main-info__inner .this-info .published-date:last-of-type {
  margin-bottom: 25px;
}
.main-info .main-info__inner .this-info .this-rank {
  display: flex;
  gap: 10px;
  height: 20px;
  margin-bottom: 30px;
}
.main-info .main-info__inner .this-info .this-rank:hover {
  text-decoration: underline;
}
.main-info .main-info__inner .this-info .this-rank img {
  display: inline-block;
  height: 20px;
}
.main-info .main-info__inner .this-info .this-rank .bold-text {
  font-weight: 700;
  font-size: 14px;
}
.main-info .main-info__inner .this-info .this-rank .rank {
  font-size: 13px;
  display: flex;
  align-items: center;
  position: relative;
}
.main-info .main-info__inner .this-info .this-rank .rank span {
  font-size: 13px;
}
.main-info .main-info__inner .this-info .this-rank .rank:not(:last-child)::after {
  content: "ꞏ";
  font-size: 20px;
  position: absolute;
  right: -8px;
}
.main-info .main-info__inner .this-info .this-review {
  width: 330px;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  display: flex;
  padding: 20px 0;
  margin-bottom: 25px;
}
.main-info .main-info__inner .this-info .this-review .review {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.main-info .main-info__inner .this-info .this-review .review .bold-text {
  font-size: 20px;
  color: #3c9a17;
  margin-bottom: 5px;
}
.main-info .main-info__inner .this-info .this-review .review p {
  font-size: 12px;
  color: #595959;
}
.main-info .main-info__inner .this-info .this-review .review img {
  width: 18px;
  height: 18px;
}
.main-info .main-info__inner .this-info .this-review .review::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 30px;
  background-color: #EAEAEA;
}
.main-info .main-info__inner .this-info .this-review .comment {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-info .main-info__inner .this-info .this-review .comment img {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.main-info .main-info__inner .this-info .this-review .comment .bold-text {
  font-size: 18px;
  color: #5a5ea2;
  margin-bottom: 4px;
}
.main-info .main-info__inner .this-info .this-review .comment p {
  font-size: 12px;
  color: #595959;
}
.main-info .main-info__inner .this-info .this-ebook-info {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  width: 330px;
  padding: 16px 0;
}
.main-info .main-info__inner .this-info .this-ebook-info p {
  font-size: 14px;
}
.main-info .main-info__inner .this-info .this-ebook-info li {
  font-size: 13px;
  color: #595959;
  position: relative;
  text-indent: 8px;
  margin-top: 6px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.main-info .main-info__inner .this-info .this-ebook-info li::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #ccc;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms;
  cursor: pointer;
  position: relative;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info button span {
  font-weight: 500;
  color: #767676;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more {
  border: 1px solid #000000;
  border-radius: 10px;
  position: absolute;
  background-color: #ffffff;
  top: 24px;
  padding: 20px;
  min-width: 330px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more .close-icon {
  position: absolute;
  font-weight: 500;
  font-size: 28px;
  color: #000000;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more .title {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more .sub-title {
  font-size: 13px;
  color: #000000;
  margin-bottom: 16px;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more ul {
  background-color: #F7F7F7;
  border-radius: 10px;
  padding: 20px;
  padding-left: 30px;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more ul li {
  text-indent: 0px;
  position: relative;
  font-size: 13px;
  line-height: 19px;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info .tts-info-more ul li::before {
  background-color: #ccc;
  left: -10px;
  top: 8px;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info.active button {
  background-color: #767676;
  border: 1px solid #767676;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info.active button span {
  color: #ffffff;
}
.main-info .main-info__inner .this-info .this-ebook-info li .tts-info.active .tts-info-more {
  visibility: visible;
  opacity: 1;
}
.main-info .main-info__inner .this-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-info .main-info__inner .this-thumbnail .this-book {
  position: relative;
  width: 380px;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.12);
  cursor: auto;
}
.main-info .main-info__inner .this-thumbnail .this-book img {
  display: block;
  width: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.main-info .main-info__inner .this-thumbnail .this-book::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("../images/eBook_mark.png") center/cover;
  top: -10px;
  right: -10px;
}
.main-info .main-info__inner .this-thumbnail .this-book .preview__big {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 40px;
  padding: 6px 12px 8px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
.main-info .main-info__inner .this-thumbnail .this-book .preview__big span {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
}
.main-info .main-info__inner .this-thumbnail .this-book .preview__big span.material-symbols-outlined {
  font-weight: 500;
  font-size: 18px;
}
.main-info .main-info__inner .this-thumbnail .this-book:hover .preview__big {
  visibility: visible;
  opacity: 1;
}
.main-info .main-info__inner .this-thumbnail .preview {
  position: relative;
  z-index: 2;
  padding: 2px 14px 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: -0.5px;
  font-weight: 700;
  border: 1px solid #ccc;
  background-color: #ffffff;
  cursor: pointer;
  align-self: flex-end;
}
.main-info .main-info__inner .this-thumbnail .preview .material-symbols-outlined {
  font-weight: 400;
  color: #595959;
  font-size: 18px;
}
.main-info .main-info__inner .this-thumbnail .preview .button-text {
  font-weight: 500;
}
.main-info .main-info__inner .this-thumbnail .preview:hover {
  background-color: #F7F7F7;
}
.main-info .main-info__inner .this-price {
  width: 330px;
}
.main-info .main-info__inner .this-price .this-price__event {
  margin-bottom: 25px;
}
.main-info .main-info__inner .this-price .this-price__event div {
  border: 1px solid #5a5ea2;
  color: #5a5ea2;
  display: inline-block;
  font-size: 12px;
  padding: 1px 5px;
  border-radius: 4px;
}
.main-info .main-info__inner .this-price .this-price__info {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 30px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(1) {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) {
  padding: 20px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .coupon-price {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .origin-price {
  text-decoration: line-through;
  font-size: 14px;
  color: #595959;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .bold-text {
  font-weight: 700;
  font-size: 13px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) span:nth-child(n+2) {
  font-size: 24px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .sale {
  font-size: 13px;
  display: flex;
  gap: 20px;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .sale p:nth-child(1) {
  position: relative;
}
.main-info .main-info__inner .this-price .this-price__info div:nth-child(2) .sale p:nth-child(1)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
  right: -10px;
  top: 5px;
}
.main-info .main-info__inner .this-price .this-price__info .coupon {
  height: 30px;
  border: none;
  background-color: #5055b1;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  border-radius: 4px;
  letter-spacing: -0.5px;
  margin-top: 40px;
  cursor: pointer;
}
.main-info .main-info__inner .this-price .this-price__info .coupon span {
  margin-bottom: 2px;
}
.main-info .main-info__inner .this-price .this-price__info .coupon .material-symbols-outlined {
  font-weight: 400;
}
.main-info .main-info__inner .ebook-notice {
  background-color: rgba(80, 85, 177, 0.06);
  padding: 18px;
  padding-left: 24px;
  border-radius: 10px;
}
.main-info .main-info__inner .ebook-notice div {
  color: #5a5ea2;
  font-size: 13px;
  line-height: 18px;
  position: relative;
}
.main-info .main-info__inner .ebook-notice div::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgba(80, 85, 177, 0.6);
  left: -10px;
  top: 8px;
}
.main-info .main-info__inner .ebook-notice div .bold-text {
  font-weight: 700;
  line-height: 20px;
  font-size: 13px;
}
.main-info .main-info__inner .event-box {
  width: 100%;
}
.main-info .main-info__inner .event-box .event-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  height: 60px;
}
.main-info .main-info__inner .event-box .event-title p {
  font-size: 14px;
  margin-top: 4px;
}
.main-info .main-info__inner .event-box ul {
  background-color: #F7F7F7;
  border-radius: 10px;
  font-size: 12px;
  padding: 20px;
  width: 330px;
}
.main-info .main-info__inner .event-box ul li a {
  color: #595959;
  line-height: 25px;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-info .main-info__inner .event-box ul li a:hover {
  color: #5a5ea2;
  text-decoration: underline;
}
.main-info .main-info__inner .payment-box .payment-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-size: 15px;
}
.main-info .main-info__inner .payment-box .payment-title p {
  font-size: 14px;
  margin-top: 4px;
}
.main-info .main-info__inner .payment-box ul {
  background-color: #F7F7F7;
  border-radius: 10px;
  font-size: 12px;
  padding: 20px;
}
.main-info .main-info__inner .payment-box ul li {
  color: #595959;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-info .main-info__inner .payment-box ul li div {
  line-height: 25px;
}
.main-info .main-info__inner .more-info {
  display: none;
}
.main-info .main-info__inner .more-info.active {
  display: block;
}
.main-info .main-info__inner .more-title {
  border-bottom: 1px solid #EAEAEA;
}
.main-info .main-info__inner .more-title.active {
  border-bottom: 1px solid transparent;
}
.main-info .main-info__inner .more-icon {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}
.main-info .main-info__inner .more-icon span {
  font-size: 18px;
  color: #595959;
  font-weight: 400;
}
.main-info .main-info__inner .more-icon.active {
  background-color: #000000;
  border: 1px solid #000000;
}
.main-info .main-info__inner .more-icon.active span {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  transform: rotate(180deg);
  margin-top: -4px;
  margin-left: 1px;
}

.detail-nav {
  margin-top: 46px;
}
.detail-nav .full__inner {
  height: 70px;
  border-bottom: 1px solid #ccc;
}
.detail-nav .full__inner .inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  height: 100%;
}
.detail-nav .full__inner .inner div {
  color: #767676;
  font-size: 16px;
}

.preview-modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.preview-modal .thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  border: none;
  border-radius: 0;
}
.preview-modal .close-icon {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  cursor: pointer;
}

.content .inner {
  display: flex;
  gap: 56px;
}
.content .inner .content-title {
  font-size: 20px;
  line-height: 20px;
}
.content .inner .content-box {
  margin-top: 70px;
}

.content__right {
  flex-basis: calc(100% - 330px - 56px);
  width: calc(100% - 330px - 56px);
}
.content__right .content-title {
  margin-bottom: 20px;
  line-height: 20px;
}
.content__right .put__buy-with {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: #F7F7F7;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
.content__right .put__buy-with .thumbnail {
  display: block;
  width: 116px;
  border-radius: 12px 12px 12px 0;
  overflow: hidden;
  border: 1px solid #EAEAEA;
}
.content__right .put__buy-with .thumbnail img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.content__right .put__buy-with .info .title {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.content__right .put__buy-with .info .title:hover {
  text-decoration: underline;
}
.content__right .put__buy-with .info .author {
  font-size: 13px;
  color: #595959;
  margin-top: 5px;
}
.content__right .put__buy-with .info .price {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
.content__right .put__buy-with .info .price .sale {
  color: #4dac27;
  margin-right: 5px;
}
.content__right .put__buy-with .info .price .won {
  font-weight: 400;
}

.content__left {
  width: 330px;
  flex-shrink: 0;
  flex-basis: 330px;
}
.content__left .content-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  margin-bottom: 20px;
}
.content__left .content-title h3 {
  font-size: 20px;
}
.content__left .content-title .content-more {
  font-size: 13px;
  color: #595959;
  display: flex;
  align-items: center;
}
.content__left .content-title .content-more a:hover {
  text-decoration: underline;
}
.content__left .content-title .content-more span {
  font-size: 10px;
  margin-left: 2px;
}
.content__left .put__best,
.content__left .put__new {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content__left .put__best .best__book,
.content__left .put__best .new__book,
.content__left .put__new .best__book,
.content__left .put__new .new__book {
  display: flex;
  align-items: center;
  gap: 15px;
}
.content__left .put__best .best__book .num,
.content__left .put__best .new__book .num,
.content__left .put__new .best__book .num,
.content__left .put__new .new__book .num {
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  background: #767676;
  border-radius: 6px 0 6px 0;
  padding: 3px 2px 2px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.content__left .put__best .best__book .num__first,
.content__left .put__best .new__book .num__first,
.content__left .put__new .best__book .num__first,
.content__left .put__new .new__book .num__first {
  background-color: #4dac27;
}
.content__left .put__best .best__book .thumbnail,
.content__left .put__best .new__book .thumbnail,
.content__left .put__new .best__book .thumbnail,
.content__left .put__new .new__book .thumbnail {
  width: 98px;
}

.book-detail {
  word-break: break-all;
}
.book-detail .content-title {
  display: flex;
  gap: 30px;
}
.book-detail .content-title .detail-tab {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  gap: 30px;
}
.book-detail .content-title .detail-tab li {
  line-height: 20px;
  position: relative;
  color: #767676;
  cursor: pointer;
}
.book-detail .content-title .detail-tab li:not(:last-child)::after {
  content: "|";
  position: absolute;
  top: -1px;
  right: -16px;
  color: #EAEAEA;
}
.book-detail .content-title .detail-tab li.active {
  color: #5a5ea2;
  font-weight: 700;
}
.book-detail .book-detail-box {
  width: 100%;
  background-color: #F7F7F7;
  border-radius: 20px;
  padding: 40px 30px;
  display: none;
}
.book-detail .book-detail-box.active {
  display: block;
}
.book-detail .book-detail-box .detail-list {
  overflow: hidden;
}
.book-detail .book-detail-box .detail-list:nth-of-type(1) {
  padding-bottom: 20px;
}
.book-detail .book-detail-box .detail-list img {
  margin-top: 20px;
}
.book-detail .book-detail-box .book-content-sub {
  color: #595959;
  line-height: 23px;
  font-size: 15px;
  margin-top: 20px;
}
.book-detail .book-detail-box .divide-detail {
  border: 1px solid #EAEAEA;
  margin: 30px 0;
}
.book-detail .book-detail-box h6 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 15px;
}
.book-detail .book-detail-box .detail-info-sub {
  color: #595959;
  line-height: 20px;
  font-size: 14px;
}
.book-detail .book-detail-box .book-content-box {
  height: 650px;
  position: relative;
}
.book-detail .book-detail-box .book-content-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
  background: linear-gradient(rgba(248, 247, 247, 0) 10%, rgb(247, 247, 247) 90%);
}
.book-detail .book-detail-box .book-content-box.expand::before {
  content: "";
  position: static;
  width: 0;
  height: 0;
  background: none;
}
.book-detail .book-detail-box .put__category {
  font-size: 14px;
  line-height: 20px;
  height: 120px;
  overflow: hidden;
}
.book-detail .book-detail-box .put__category + .fold-btn {
  justify-content: flex-start;
}
.book-detail .book-detail-box .put__preview {
  font-size: 15px;
  line-height: 23px;
  height: 115px;
  overflow: hidden;
  color: #595959;
}
.book-detail .book-detail-box .put__preview + .fold-btn {
  justify-content: flex-start;
}
.book-detail .book-detail-box .put__publish {
  font-size: 15px;
  line-height: 23px;
  height: 138px;
  overflow: hidden;
  color: #595959;
}
.book-detail .book-detail-box .put__publish + .fold-btn {
  justify-content: flex-start;
}
.book-detail .book-detail-box .expand {
  height: auto;
}

.bottom__banner {
  border-radius: 20px;
  overflow: hidden;
}

.archiving .content-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.archiving .content-title .count {
  margin-top: -5px;
  display: inline-block;
}
.archiving .content-title .archiving-detail {
  position: relative;
}
.archiving .content-title .archiving-detail.active .notice-icon {
  background: url("../images/mark__dark.png") center/cover no-repeat;
}
.archiving .content-title .archiving-detail.active .archiving-notice {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}
.archiving .content-title .archiving-detail .notice-icon {
  background: url("../images/mark.png") center/cover no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
  margin-left: 6px;
  margin-top: 6px;
}
.archiving .content-title .archiving-detail .archiving-notice {
  position: absolute;
  width: 330px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}
.archiving .content-title .archiving-detail .archiving-notice .notice-title {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
}
.archiving .content-title .archiving-detail .archiving-notice .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 400;
  font-size: 26px;
  margin-top: -1px;
  cursor: pointer;
}
.archiving .content-title .archiving-detail .archiving-notice .notice-content {
  font-size: 13px;
  line-height: 19px;
  margin-top: 10px;
  word-break: break-all;
}
.archiving .content-title .archiving-detail .archiving-notice ul h6 {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}
.archiving .content-title .archiving-detail .archiving-notice ul li {
  font-size: 13px;
  margin-left: 10px;
  color: #595959;
  margin-bottom: 6px;
  position: relative;
}
.archiving .content-title .archiving-detail .archiving-notice ul li:last-child {
  margin-bottom: 0px;
}
.archiving .content-title .archiving-detail .archiving-notice ul li::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #595959;
  opacity: 0.6;
  top: 7px;
  left: -10px;
  border-radius: 50%;
}
.archiving .content-title .archiving-tab {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  gap: 30px;
  margin-left: 25px;
  margin-right: auto;
}
.archiving .content-title .archiving-tab li {
  line-height: 20px;
  position: relative;
  color: #767676;
  cursor: pointer;
}
.archiving .content-title .archiving-tab li:not(:last-child)::after {
  content: "|";
  position: absolute;
  top: -1px;
  right: -16px;
  color: #EAEAEA;
}
.archiving .content-title .archiving-tab li.active {
  color: #5a5ea2;
  font-weight: 700;
}
.archiving .content-title .my-archiving {
  background-color: #ffffff;
  border: 1px solid #ccc;
  transition: all 0.3s;
  cursor: pointer;
  margin-right: 6px;
  padding: 9px 15px 10px;
  border-radius: 6px;
  line-height: 20px;
}
.archiving .content-title .my-archiving:hover {
  background-color: #F7F7F7;
}
.archiving .content-title .write-archiving {
  background-color: #5055b1;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  padding: 9px 15px 10px;
  border-radius: 6px;
  line-height: 20px;
}
.archiving .content-title .write-archiving .material-symbols-outlined {
  font-weight: 300;
}
.archiving .content-title .write-archiving:hover {
  background-color: #2c307c;
}
.archiving .content-title.active .notice-icon {
  background: url("../images/mark__dark.png") center/cover no-repeat;
}
.archiving > p {
  font-size: 13px;
  color: #595959;
  text-align: right;
  margin-bottom: 10px;
}

.translator-info-box {
  background-image: none;
  background-color: #F7F7F7;
  margin-top: 20px;
}
.translator-info-box .bold-text {
  margin-right: auto;
}
.translator-info-box .put__translator {
  font-size: 15px;
  color: #595959;
  overflow: hidden;
  line-height: 23px;
}

.author-info-box {
  background: url("../images/author-info-bg.png") top/100% no-repeat #F7F7F7;
}

.author-info .author-info-box,
.author-info .translator-info-box {
  word-break: break-all;
  padding: 40px 30px;
  border-radius: 20px;
  overflow: hidden;
}
.author-info .author-info-box::before,
.author-info .translator-info-box::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
}
.author-info .author-info-box .info-top,
.author-info .translator-info-box .info-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.author-info .author-info-box .alarm-btn,
.author-info .translator-info-box .alarm-btn {
  color: #595959;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 6px 12px 7px;
  margin-right: auto;
  cursor: pointer;
}
.author-info .author-info-box .alarm-btn .bg-text,
.author-info .translator-info-box .alarm-btn .bg-text {
  background: url("../images/alarm_mute.png") center/cover no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-top: 2px;
}
.author-info .author-info-box .detail-btn,
.author-info .translator-info-box .detail-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 7px 8px 8px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
.author-info .author-info-box .detail-btn .bg-text,
.author-info .translator-info-box .detail-btn .bg-text {
  background: url("../images/detail_info.png") center/cover no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.author-info .author-info-box .author-category,
.author-info .translator-info-box .author-category {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  margin-top: 20px;
}
.author-info .author-info-box .author-category button,
.author-info .translator-info-box .author-category button {
  background-color: #ffffff;
  border: none;
  padding: 7px 16px 9px;
  border-radius: 20px;
  font-size: 13px;
  color: #595959;
  cursor: pointer;
}
.author-info .author-info-box .author-detail,
.author-info .translator-info-box .author-detail {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.author-info .author-info-box .author-detail .author-picture,
.author-info .translator-info-box .author-detail .author-picture {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 50%;
  background: url("../images/author_pic.jpg") 50% 0%/cover no-repeat;
}
.author-info .author-info-box .author-detail .author-detail-more,
.author-info .translator-info-box .author-detail .author-detail-more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.author-info .author-info-box .author-detail .author-detail-more .put__author,
.author-info .translator-info-box .author-detail .author-detail-more .put__author {
  font-size: 15px;
  color: #595959;
  overflow: hidden;
  line-height: 23px;
  height: 69px;
}
.author-info .author-info-box .author-detail .author-detail-more .put__author.expand,
.author-info .translator-info-box .author-detail .author-detail-more .put__author.expand {
  height: auto;
}
.author-info .author-info-box .author-detail .author-detail-more .fold-btn,
.author-info .translator-info-box .author-detail .author-detail-more .fold-btn {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.author-info .author-info-box .author-detail .author-detail-more .fold-btn .fold-text,
.author-info .translator-info-box .author-detail .author-detail-more .fold-btn .fold-text {
  font-size: 14px;
  color: #767676;
  margin-bottom: 2px;
}
.author-info .author-info-box .author-detail .author-detail-more .fold-btn .fold-icon,
.author-info .translator-info-box .author-detail .author-detail-more .fold-btn .fold-icon {
  background-color: #ffffff;
  color: #767676;
  font-weight: 500;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  border: 1px solid #ccc;
}
.author-info .author-info-box .author-detail .author-detail-more .fold-btn:hover .fold-text,
.author-info .translator-info-box .author-detail .author-detail-more .fold-btn:hover .fold-text {
  text-decoration: underline;
}
.author-info .author-info-box .author-book-slide,
.author-info .translator-info-box .author-book-slide {
  width: 100%;
}
.author-info .author-info-box .author-book-slide .slide-inner,
.author-info .translator-info-box .author-book-slide .slide-inner {
  width: 100%;
  margin-top: 30px;
}
.author-info .author-info-box .author-book-slide .slide-inner .put__slide,
.author-info .translator-info-box .author-book-slide .slide-inner .put__slide {
  display: flex;
  gap: 20px;
}
.author-info .author-info-box .author-book-slide .slide-inner .put__slide .swiper-slide,
.author-info .translator-info-box .author-book-slide .slide-inner .put__slide .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 116px;
  gap: 10px;
  width: 116px;
  margin-bottom: 30px;
}
.author-info .author-info-box .author-book-slide .slide-inner .put__slide .swiper-slide .title,
.author-info .translator-info-box .author-book-slide .slide-inner .put__slide .swiper-slide .title {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.author-info .author-info-box .author-book-slide .slide-inner .swiper-scrollbar,
.author-info .translator-info-box .author-book-slide .slide-inner .swiper-scrollbar {
  height: 2px;
  margin-top: 20px;
}
.author-info .author-info-box .author-book-slide .slide-inner .swiper-scrollbar .swiper-scrollbar-drag,
.author-info .translator-info-box .author-book-slide .slide-inner .swiper-scrollbar .swiper-scrollbar-drag {
  background: #000000;
}

.ebook-guide {
  height: 382px;
  overflow: hidden;
}
.ebook-guide h6 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 15px;
}
.ebook-guide > ul {
  padding: 30px 0 18px;
  border-top: 1px solid #EAEAEA;
}
.ebook-guide > ul:nth-of-type(1) {
  border-top: 1px solid #000000;
  margin-top: 25px;
}
.ebook-guide > ul > li {
  font-size: 14px;
  color: #595959;
  margin: 10px 0;
  margin-left: 10px;
  position: relative;
  line-height: 22px;
}
.ebook-guide > ul > li::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #595959;
  opacity: 0.6;
  left: -10px;
  top: 10px;
}
.ebook-guide > ul a {
  font-weight: 500;
  text-decoration: underline;
  color: #000000;
}
.ebook-guide .purchase {
  padding: 20px 0 18px;
}
.ebook-guide .put__guide > li {
  font-size: 14px;
  color: #595959;
  margin: 10px 0;
  margin-left: 10px;
  position: relative;
  line-height: 22px;
}
.ebook-guide .put__guide > li::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #595959;
  opacity: 0.6;
  left: -10px;
  top: 10px;
}
.ebook-guide .use-detail li:nth-of-type(7) {
  margin-top: -10px;
}
.ebook-guide .use-detail li:nth-of-type(7)::before {
  width: 0;
  height: 0;
  position: static;
}
.ebook-guide .use-detail li:nth-of-type(7) .shortcut {
  margin-left: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #595959;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding: 0 2px 1px 7px;
}
.ebook-guide .use-detail li:nth-of-type(7) .shortcut span {
  margin-bottom: 3px;
  vertical-align: bottom;
}
.ebook-guide .ePub {
  border-radius: 10px;
  background-color: #F7F7F7;
  padding: 20px;
  margin: 30px 0 10px;
}
.ebook-guide .ePub h6 {
  font-size: 14px;
  margin: 6px 0;
}
.ebook-guide .ePub .ePub-first {
  margin-top: 0px;
}
.ebook-guide .ePub li {
  font-size: 15px;
  color: #595959;
  position: relative;
  line-height: 23px;
}
.ebook-guide .ePub li p {
  color: #767676;
  margin-top: 5px;
}
.ebook-guide.expand {
  height: auto;
}

.archiving-note .archiving-group {
  display: flex;
  gap: 20px;
}
.archiving-note .archiving-group .archiving-box {
  width: 258px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.archiving-note .archiving-group .archiving-box:nth-of-type(1) .main-box {
  background: url("../images/archiving_bg_1.jpg") center/cover no-repeat;
}
.archiving-note .archiving-group .archiving-box:nth-of-type(2) .main-box {
  background: url("../images/archiving_bg_2.jpg") center/cover no-repeat;
}
.archiving-note .archiving-group .archiving-box:nth-of-type(3) .main-box {
  background: url("../images/archiving_bg_3.jpg") center/cover no-repeat;
}
.archiving-note .archiving-group .archiving-box .main-box {
  width: 100%;
  height: 258px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  width: 100%;
  position: relative;
  height: 40px;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .thumbup-icon {
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  margin-right: 4px;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share {
  margin-left: auto;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share .share-icon {
  cursor: pointer;
  font-weight: 300;
  font-size: 20px;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share .share__sns {
  display: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share .share__sns:nth-of-type(1) {
  background: url("../images/sns_1.png") center/cover no-repeat;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share .share__sns:nth-of-type(2) {
  background: url("../images/sns_2.png") center/cover no-repeat;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share .share__sns:nth-of-type(3) {
  background: url("../images/sns_3.png") center/cover no-repeat;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share .share__sns:nth-of-type(4) {
  background: url("../images/sns_4.png") center/cover no-repeat;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share .share__sns:nth-of-type(5) {
  background: url("../images/sns_5.png") center/cover no-repeat;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share .share__sns:nth-of-type(6) {
  background: url("../images/sns_6.png") center/cover no-repeat;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share .share__sns:nth-of-type(7) {
  line-height: 28px;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share.active {
  width: auto;
  display: flex;
  gap: 5px;
  position: absolute;
  right: 0px;
  top: -8px;
  background-color: #ffffff;
  padding: 5px 3px 5px 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share.active .share-icon {
  display: none;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share.active .share__sns {
  display: block;
}
.archiving-note .archiving-group .archiving-box .main-box .box-top .share.active .share__sns__close {
  color: #000000;
  font-weight: 400;
}
.archiving-note .archiving-group .archiving-box .main-box .box-middle {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}
.archiving-note .archiving-group .archiving-box .main-box .download-btn {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 3px 10px 6px 6px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}
.archiving-note .archiving-group .archiving-box .main-box .download-btn .material-symbols-outlined {
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
}
.archiving-note .archiving-group .archiving-box .sub-box {
  font-size: 12px;
  color: #595959;
}
.archiving-note .archiving-group .archiving-box .sub-box span:nth-child(1) {
  margin-right: 20px;
  position: relative;
}
.archiving-note .archiving-group .archiving-box .sub-box span:nth-child(1)::after {
  content: "|";
  right: -13px;
  top: 1px;
  position: absolute;
  font-size: 10px;
  transform: scale(0.8);
  opacity: 0.5;
}

.archiving-number {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 8px;
}
.archiving-number li {
  font-size: 13px;
  color: #767676;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
.archiving-number li.active {
  background-color: #767676;
  color: #ffffff;
  font-weight: 700;
}