@use './module/reset' as reset;
@use './module/variable' as var;
@use './module/mixin' as mix;
@use './module/slider';


//notice//

#notice__inner {
    display: flex;
    justify-content: space-between;

    .notice-icon {
        margin-top: 70px;
        display: block;
        display: flex;
        gap: 10px;
        @include mix.center;
        flex-direction: column;

        img {
            width: 68px;
            height: 68px;
        }

        span {
            font-size: 14px;
            color: var.$dark-gray;
            line-height: 20px;
        }
    }
}


//best//{
.best {
    margin-top: 80px;

    .full-inner {
        padding: 50px 0px;
        background: url('../images/best_bg.png');

        .best__inner-swiper {
            position: relative;
            display: none;

            &.active {
                display: block;
            }

            .swiper {
                padding-top: 10px;
                padding-right: 14px;
                margin-left: -12px;
            }
            .best-prev{
                left:-87px;
            }
        }

        .head {
            display: flex;

            .tab {
                display: flex;
                gap: 30px;
                margin-left: 60px;

                p {
                    font-size: 16px;
                    line-height: 32px;
                    color: #767676;
                    cursor: pointer;
                    align-self: flex-end;
                    position: relative;

                    &.active {
                        color: var.$black;
                        font-weight: 700;

                        &::before {
                            content: '';
                            display: block;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background-color: var.$green;
                            position: absolute;
                            left: 50%;
                            top: -6px;
                            transform: translateX(-50%);
                        }
                    }

                    &:hover {
                        color: var.$black;
                        font-weight: 700;

                        &::before {
                            content: '';
                            display: block;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background-color: var.$green;
                            position: absolute;
                            left: 50%;
                            top: -6px;
                            transform: translateX(-50%);
                        }
                    }

                }
            }

            .plus {
                font-size: 15px;
                align-self: flex-end;
                line-height: 32px;
                flex-grow: 1;
                text-align: right;
                display: flex;
                justify-content: flex-end;

                span {
                    @include mix.icon;
                }
            }

        }

        .swiper-wrapper {
            .swiper-slide {
                position: relative;
                width: 142px !important;

                &.swiper-slide-active {
                    flex-basis: 490px;
                    flex-shrink: 0;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: row;

                    .thumbnail {
                        width: 250px;
                        flex-shrink: 0;
                        position: relative;
                    }

                    .info {
                        @include mix.info;
                        align-items: flex-start;
                    }



                }
            }

            &.audio-wrapper {
                .thumbnail {
                    &::after {
                        content: url('../images/audioPlay.png');
                        position: absolute;
                        top: -10px;
                        right: -10px;
                    }
                }
            }
        }
    }
}


//Picks//
.picks {
    .full-inner {
        padding: 80px 0 60px;
        background-color: #fafafa;

        #picks__inner-head {
            display: flex;
            flex-wrap: wrap;

            .head {
                img {
                    width: 80px;
                    height: auto;
                }

            }
        }

        #picks__inner-swiper {
            display: flex;
            margin-top: 30px;
            position: relative;

            .head-sub {
                padding-top: 60px;
                width: 32%;
                font-size: 24px;
                line-height: 36px;

                a {
                    color: var.$green;
                    text-decoration: underline;
                }
            }

            .picks_mySwiper {
                width: 68%;

                .swiper-slide {
                    display: flex;
                    flex-direction: column;

                    .thumbnail {
                        display: block;
                        width: 100%;

                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                            border-radius: 16px 16px 16px 0;
                            border: 1px solid #EAEAEA;
                        }
                    }

                    .info {
                        margin-top: 20px;

                        .title {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 20px;
                            max-height: 40px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                        }

                        .author {
                            margin-top: 5px;
                            color: var.$dark-gray;
                            font-size: 15px;
                        }
                    }
                }
            }

            .swiper-button-next {
                @include mix.btn__next;

                &::after {
                    content: '';
                }
            }

            .swiper-button-prev {
                @include mix.btn__prev;

                &::after {
                    content: '';
                }
            }
        }
    }
}

.click {
    padding-top: 80px;

    .inner {
        .head {
            @include mix.between;
            width: 100%;

            .title-sub {
                font-size: 16px;
                color: var.$dark-gray;

                a {
                    color: var.$green;
                    text-decoration: underline;
                }
            }
        }
    }

    #click__inner-swiper {
        margin-top: 50px;
        position: relative;
    }
}



//select//
.select {
    padding-top: 80px;

    #select__head {
        display: flex;
        gap: 10px;

        .title-notice__box {
            position: relative;
            align-self: flex-end;

            .title-notice {
                background-image: url('../images/mark.png');
                width: 22px;
                height: 22px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
                align-self: flex-end;
                margin-bottom: 10px;
            }

            .title-notice__info {
                padding: 20px;
                border: 1px solid var.$black;
                border-radius: 20px;
                position: absolute;
                top: 30px;
                width: 350px;
                visibility: hidden;
                opacity: 0;
                background-color: var.$white;
                z-index: 50;
                .close-symbol {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    cursor: pointer;
                }

                .notice-title {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                }

                .notice-title-sub {
                    margin-top: 16px;
                    color: #292929;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 18px;
                }

                .notice-bold {
                    font-weight: 700;
                }

                ul {
                    margin-top: 16px;
                    border-radius: 10px;
                    background-color: #f7f7f7;
                    padding: 20px;
                    color: #595959;
                    font-size: 13px;
                    padding-left: 30px;

                    li {
                        list-style-type: disc;

                        &:not(:first-child) {
                            margin-top: 8px;
                        }
                    }
                }
            }

            &.active {
                .title-notice {
                    background-image: url('../images/mark__dark.png');
                    transition: all 0.3s;
                }

                .title-notice__info {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.3s;
                }
            }
        }
    }

    #select__inner-swiper {
        position: relative;

        .swiper-wrapper {
            height: 280px;

            .swiper-slide {
                padding: 30px;
                border: 1px solid #eaeaea;
                border-radius: 24px;
                background-color: #f7f7f7;

                .slideTitle__emphasis {
                    font-weight: 600;
                    font-size: 18px;
                    color: var.$green;
                    display: flex;
                    gap: 4px;

                    .slideTitle {
                        color: var.$black;
                    }
                }

                .slideInfo {
                    display: flex;
                    margin-top: 16px;

                    .thumbnail {
                        width: auto;
                        height: 100%;

                        img {
                            height: 100%;
                        }
                    }

                    .info {
                        margin-top: 0px;
                        padding: 16px;
                        @include mix.center;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}

.new {
    background-image: url('../images/new_bg.png');
    margin-top: 130px;

    #new__inner-head {
        // background-color: red;
        display: flex;
        gap: 8%;
        height: 750px;

        .new__info {
            padding: 80px 0;
            width: 42%;
            @include mix.between;
            flex-wrap: wrap;
            $height: 100px;

            .new__info__zoom {
                width: 100%;
                height: calc(100% - $height);
                flex-grow: 1;
                padding-top: 120px;
                display: flex;

                a {
                    display: block;
                    width: 250px;
                    height: 100%;

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                        border-radius: 16px 16px 16px 0;
                        border: 1px solid #EAEAEA;
                    }
                }

                .new__info--book {
                    display: flex;
                    justify-content: flex-start;
                    padding: 20% 0 0 5%;
                    flex-direction: column;

                    .info__title {
                        font-weight: 500;
                        font-size: 20px;
                        color: var.$black;

                    }

                    .info__author {
                        margin-top: 8px;
                        font-size: 14px;
                        color: var.$dark-gray;
                        opacity: 0.8;
                    }
                }
            }
        }

        .swiper {
            flex-grow: 1;
            height: 100%;
            width: 50%;
            padding: 50px 60px 0;
            box-sizing: border-box;

            .swiper-wrapper {
                width: 100%;
                height: 100%;
                display: flex;


                .swiper-slide {
                    height: 1000px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .new__box {
                        $boxHeight: 500px;
                        width: 30%;

                        .title {
                            display: block;
                            margin-top: 20px;
                            font-weight: 500;
                        }
                    }
                }
            }

            .swiper-scrollbar {
                height: 500px;
                margin-top: calc((750px - 500px) / 2);
                width: 2px;
                background: rgba(0, 0, 0, .1);

                .swiper-scrollbar-drag {
                    background-color: var.$black;
                }
            }
        }
    }
}

.today,
.recommend {
    padding-top: 80px;
}

.recommend {
    #recommend__inner-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


//banner//
.insert-banner {
    padding-top: 80px;

    .inner {
        display: block;
        border-radius: 24px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }
}

//audio//
.audio {
    padding: 80px 0;

    #audio__inner-head {
        @include mix.between;
    }

    .swiper {
        padding-top: 10px;
        padding-right: 14px;
        margin-left: -12px;

        .swiper-slide {
            position: relative;
            width: 142px !important;

            .thumbnail {
                position: relative;

                &::after {
                    position: absolute;
                    content: url('../images/audioPlay.png');
                    top: -10px;
                    right: -10px;
                }
            }

            &.swiper-slide-active {
                flex-basis: 490px;
                flex-shrink: 0;
                flex-grow: 1;
                display: flex;
                flex-direction: row;

                .thumbnail {
                    width: 250px;
                    position: relative;
                }

                .info {
                    @include mix.info;
                }
            }
        }
    }
    .audio-prev{
        left: -87px;
    }
}

//video//
.video {
    padding: 60px 0;
    background-color: #F7F7F7;

    #video__inner-head {
        @include mix.between;

        .plus {
            align-self: flex-end;
            @include mix.center;
            margin-bottom: 10px;
        }
    }

    #video__inner-box {
        @include mix.between;
        flex-wrap: wrap;
        margin-top: 30px;
        gap: 40px;

        .video__box {
            position: relative;

            .video__thumbnail {
                display: block;
                width: 360px;
                height: 220px;
                border-radius: 20px;
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .video__title {
                font-weight: 500;
                font-size: 16px;
                color: #000;
                display: inline-block;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .video__play {
                display: inline-block;
                width: 46px;
                height: 46px;
                background: url('../images/videoPlay.png') center/cover no-repeat;
                position: absolute;
                inset: -16px -16px auto auto;
            }
        }
    }
}

//original//
.original {
    padding: 80px 0;

    #original__inner-head {
        @include mix.between;

    }

    #original__inner-swiper {
        .swiper {
            .swiper-wrapper {
                align-items: center;
                margin-left: -170px;

                .swiper-slide {
                    width: 140px !important;

                    .thumbnail {
                        img {
                            width: 135px;
                        }
                    }

                    &.swiper-slide-active {
                        flex-basis: 500px;
                        align-items: center;
                        position: relative;

                        .thumbnail {
                            width: 248px;

                            img {
                                width: 100%;
                            }
                        }

                        .info {
                            width: 248px;
                        }

                        &::before {
                            content: "";
                            width: 350px;
                            height: 350px;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            z-index: -1;
                            background-color: #F2F2F2;
                        }
                    }
                }
            }
        }
    }
}

.event-modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: none;
    .event-modal__inner{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        // background-color: yellowgreen;
        height: 100vh;
        
        .event-close{
            position: absolute;
            font-size: 50px;
            color: #ffffff;
            top: 35px;
            right: -10px;
            cursor: pointer;
        }
        .put__event{
            height: 80vh;
            overflow-y: scroll;
            overflow-x: hidden;
            margin:10vh auto;
            &>li{
                font-weight: 600;
                font-size: 30px;
                color:var.$white;
                &:not(:first-child){
                    margin-top:50px;
                }
            }
            .img-box{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                column-gap:2%;
                width: calc(100%  - 20px);
                li{
                    width: 49%;
                    img{
                        background-color: var.$white;
                        padding:30px;
                        border-radius: 20px;
                        width: 100%;
                        margin-top:20px;
                    }
                }

            }
        }
    }
}

