//color
$black: #000000;
$green: #3c9a17;
$dark-gray: #595959;
$light-gray: #F7F7F7;
$middle-gray: #767676;
$border-gray: #ccc;
$pink: #f79393;
$yellow: #f5c353;
$blue: #6eacd9;
$dark-blue:#5a5ea2;
$mint: #66c4c7;
$white: #ffffff;
$border-gray-light: #EAEAEA;

